/* App.css */

/* FONTS */

@font-face {
  font-family: 'Nexa';
  src: local('Nexa'), url(./fonts/Nexa/NexaRegular.otf) format('opentype');
}

/* VARIABLES */

:root {
  --theme-primary: #6a0dad;
  --theme-grey: #efeef1;
  --theme-text-primary-dark: #4d4751;
}

/* GLOBAL */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Nexa', 'Arial', sans-serif;
  color: var(--theme-text-primary-dark);
}

h1 {
  margin-bottom: 0.25em;
  font-size: 2.25em;
}

h2 {
  font-weight: lighter;
  margin-top: 0;
  font-size: 1.25em;
}

h3 {
  color: var(--theme-primary);
  margin-top: 0;
  margin-bottom: 0.5em;
}

small {
  color: var(--theme-text-primary-dark);
}

.img-resp {
  width: 100%;
  height: auto;
}

/* BUTTONS */

.button-container {
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.button {
  border: 2px solid var(--theme-primary);
  height: 50px;
  font-size: 1em;
  width: 350px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 50px;
  margin: 0.25em;
  margin-bottom: 0.75em;
  cursor: pointer;
}

.button--primary {
  background-color: var(--theme-primary);
  color: #fff;
}

.button--outline {
  background-color: #fff;
  color: var(--theme-primary);
}

/* HEADER */

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--theme-grey);
  height: 30px;
}

.dropdown__image {
  width: 180px;
}

.dropdown__icon {
  height: 40px;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--theme-grey);
  height: 60px;
  padding: 0.5em;
  border-bottom: 2px solid var(--theme-grey);
}

.header__logo img {
  height: 55px;
}

.header__icons {
  display: flex;
  align-items: center;
}

.header__icon {
  margin-right: 1em;
  cursor: pointer;
  height: 30px;
}

/* TAB MENU */

.tabs {
  display: flex;
  justify-content: space-between;
  padding: .75em 1em 0em 0.75em;
  color: var(--theme-primary);
  box-shadow: 0 4px 6px -6px #222;
  position: relative;
  font-size: 1.15em;
}

.tabs__link {
  text-decoration: none;
  padding-bottom: 0.4em;
  color: var(--theme-text-primary-dark);
}

.tabs__link:hover {
  color: var(--theme-primary);
  cursor: pointer;
}

.tabs__link--active {
  border-bottom: 4px solid var(--theme-primary);
  color: var(--theme-primary);
  font-weight: 600;
}

/* CAROUSEL */

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em 0.75em 0.5em;
  background-color: var(--theme-grey);
}

.carousel__image-wrapper {
  padding-bottom: 0.25em;
  position: relative;
}

.carousel__image {
  width: 100%;
  height: auto;
}

.carousel__image--active {
  border-radius: 15px;
  display: block;
}

.carousel__icon-wrapper {
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75em;
  cursor: pointer;
}

.carousel__icon {
  height: 1.25em;
  width: 1.25em;
}

.carousel__indicator-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.carousel__indicator {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: solid 1px grey;
  background-color: grey;
  margin-right: 0.75em;
}

.carousel__indicator--active {
  background-color: var(--theme-primary);
  border: solid 3px var(--theme-primary);
  width: 7px;
  height: 7px;
  margin-top: -2px;
}

/* CARD */

.card {
  text-align: center;
}

.card__title {
  margin-bottom: 0.25em;
  font-size: 2.25em;
}

.card__subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  font-weight: lighter;
  margin-top: 0;
  font-size: 1.25em;
}

.card__breed {
  color: var(--theme-primary);
  margin-top: 0;
  margin-bottom: 0.5em;
}

.card__button-container {
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.card__response-time {
  color: var(--theme-text-primary-dark);
}

.card span {
  font-size: 1.5em;
}

/* DIALOGFLOW MESSENGER */

df-messenger {
  --df-messenger-bot-message: url('./petfinder_icon.png');
  --df-messenger-user-message: url('./user_icon.jpeg');
  --df-messenger-titlebar-background: var(--theme-primary);
  --df-messenger-titlebar-icon-font-color: #ffffff;
  --df-messenger-border-color: var(--theme-primary);
  --df-messenger-titlebar-font-color: #ffffff;
  --df-messenger-button-titlebar-color: #ffffff;
  --df-messenger-chat-background: #f9f5fe;
  --df-messenger-chat-button-color: #855987;
  --df-messenger-chat-icon-color: #ffffff;
  --df-messenger-font-color: var(--theme-text-primary-dark);
  --df-messenger-primary-color: #f8effc;
  --df-messenger-bot-icon: url('./petfinder_icon.png');
  --df-messenger-user-icon: url('./user_icon.jpeg');
  --df-messenger-chat-background: #ffffff;
  --df-messenger-input-box-background: #ffffff;
  --df-messenger-input-border-top: 2px solid var(--theme-grey);
  --df-messenger-chat-border: 1px solid var(--theme-grey);
  --df-messenger-input-padding: 0px;
  --df-messenger-input-background: #ffffff;
  --df-messenger-input-box-border: 0px;
  --df-messenger-input-box-border-radius: 16px;
  --df-messenger-chat-border-radius: 16px;
  --df-messenger-default-focus-color: #fff;
  --df-messenger-input-box-focus-border: none;
  --df-messenger-message-user-background: var(--df-messenger-primary-color);
  --df-messenger-message-bot-background: var(--theme-grey);
  z-index: 999;
  position: fixed;
  bottom: 16px;
  right: 16px;
}

df-messenger-chat-bubble {
  --df-messenger-chat-bubble-background: var(--theme-primary);
  --df-messenger-chat-bubble-icon-color: #ffffff;
  --df-messenger-chat-bubble-size: 60px;
  --df-messenger-chat-bubble-border-radius: 50%;
}

.chat-wrapper {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.titlebar-wrapper {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}
